
.box-about {
    height: 100%;
    display: grid;
    place-items: center;
   
   
    text-align: center;
    padding-top: 2em;
}

.moto-text {
    background-image: linear-gradient(to right top, #4288f2, #00acff, #00c8f1, #00dba5, #11e536);
    padding: 2em;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.moto {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    width: 30%;
}
.moto-2 p{
    background-image: linear-gradient(to right top, #e1154a, #e9570a, #d38e00, #9fbd00, #11e536);
    
}
.moto h4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
    font-size: 1.5em;
    /*text-align: center;*/
    
    
}

.moto p {
    line-height: 27px;
    font-size: 1em;
    text-align: left;
    padding-top: 1em;
    /*text-align: left;*/
   
    border-top: 3px solid #645;
}
b {
    font-size: 1.6em;
    color: black;
}
.forMe {
    padding: 38px;
}
.forMe h5 {
    font-size: 2em;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 24px;
    background-image: linear-gradient(to right top, #1600f8, #0053ff, #0078ff, #0097ff, #00b1fa, #00c1f8, #11d0f3, #4addec, #00e7e3, #00f0ce, #12f7af, #5ffb88);
}
//.bgr-container {
//    width: 5em;
//}
.card-about img {
    width: 200px;
    height: auto;
}
.card-about {
    height: 290px;
    //background-color: aqua;
    max-width: 350px;
    margin: 0 20px;
    text-align: center;
    transition: .4s;
    box-shadow: 5px 12px 34px rgba(0, 0, 0, 1);
}
.card-about:hover {
    height: 470px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
}
.card-about .img {
    height: 200px;
    width: 100%;
}
.card-about .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.card-about .top-text {
    padding: 5px;
}
.top-text h6 {
    font-size: 1.2em;
}
.card-about .top-text .name  {
    font-size: 25px;
    font-weight: 600;
    color: #202020;
}
.card-about .top-text p {
    font-size: 13px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}

.card-about .bottom-text {
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background-color: wheat;
    opacity: 0;
    visibility: hidden;
    transition: .1s;    
}

.card-about:hover .bottom-text{
    opacity: 1;
    visibility: visible;
}

.card .bottom-text .text-about {
    text-align: initial;
}
.card-about .bottom-text .btn {
    margin: 10px 0;
    text-align: left;
}
.card-about .bottom-text .btn a {
    text-decoration: none;
    background-color: #e74c3c;
    color: wheat;
    padding: 5px 8px;
    border-radius: 3px;
    display: inline-flex;
    transition: .2s;
}
.card-about .bottom-text .btn a:hover{
    transform: scale(.9);
}


@media screen and ( max-width: 978px ){
    .container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .card-about {
        width: 26em;
        padding: 8px;
        margin: 20px 0;
    }
}

@media screen and ( max-width: 768px ){
   .bgr-container-card{
    
    //   margin-left: 2em;
    background-image: none;
    width: 159.8%;
   }
  
    .box-about {
        height: 100%;
        display: grid;
        place-items: center;
        background-image: none;
       
        padding-top: 0em;
        
     
    }
    .moto {
       
        width: 80%;
        text-align: center;
        padding-left: 10em;
    }
    .motto-git {
      
        margin-left: 12em;

    }
    
    .motto-git img  {
        
        width: 18em;
        height: 5em;
     
        
    }
    .moto-text{
       width: 150.7%;
      
    }
    .moto-2{
        
        padding-left: 3em;
        margin-left: 9em;
       
    }

    .forMe {
        background-image: linear-gradient(to right bottom, #ffa600, #ff6533, #ff006a, #f600ab, #8d12eb);
       width: 148.7%;
        
    }
    .container {
        padding-left: 10em;
       background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        margin-left: 4em;
      
       
    }
    .card-about{
        text-align: center;
        box-shadow: 5px 12px 34px rgba(0, 0, 0, 1);
    }
    
   
}

@media screen and ( max-width: 500px){
    .box-about{
        padding-top: 0em;
    }
    .moto {
        width: 70%;
    }
    .moto-text {
        width: 127.7%;
    }
    .moto h4 {
        font-size: 1em;
        margin-right: 32em;
    }
    .moto-2 p{
        font-size: .6em;
        margin-right: 15em;
        margin-left: -39em;
    }
    .moto p {
        width: 19em;
    }
    .forMe h5 {
        font-size: 2em;
    }
    .forMe h5:before {
        width: 0em;
        
    }
    .motto-git {
        margin-left: -20em;
    }
    .top-text h6 {
        font-size: 2em;
    }
    .container {
        margin-right: 24em;
        padding-left: 0;
    }
    .card-about .top-text p {
        font-size: 2em;
        padding-top: .5em;
    }
}
@media screen and ( max-width: 425px ){
    .box-about  {
        width: 100%;
        //margin-left: 1em;
    }
    .forMe {
        width: 101.8%;
    }
    .moto {
        text-align: center;
        width: 96%;
    }
    .moto p {
        width: 41em;
        margin-left: 3em;
    }
    .moto-text {
        width: 101.8%;

        //margin-left: 1em;
    }
    .container {
        margin-right: 0em;
        padding-left: 0;
    }
    .motto-git img {
        width: 34em;
    height: 5em;
    margin-left: 24em;
    }
    .moto h4 {
        font-size: 1em;
        margin-right: 10em;
    }
    .moto-2 p {
        font-size: 1.1em;
        margin-right: 5em;
         margin-left: -2em; 
    }
    .bgr-container-card {
        background-image: none;
        width: 115.8%;
        margin-right: 0em;
    }
}

@media screen and ( max-width: 320px ){
    .moto p {
        width: 12em;
        font-size: 1.8em;
        line-height: 38px;
    }

    .moto h4 {
        font-size: 1.6em;
    }
}
